<launch>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find qlearning)/environment/god.world"/>
    </include>


    <node
        pkg="qlearning"
        name="qlearn"
        type="qlearn"
        output="screen"
    />


</launch>




